@media (min-width:500px) {
    .mainMenu {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        flex-direction: row;
        position: relative;
    }

    .mainMenu a {
        flex: 1 1 auto;
    }

    .openMenu {
        display: none;
    }

}