.grid-item {

    text-align: center;
    border-style: solid;
    border-width: medium;
    border-color: #514e90;
    background-color: #bfbbd2;
    padding: 15px;
    margin: 5px;
    margin-bottom: 10px;
    max-width: 315px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px,1fr));
    box-shadow: 0 0 40px black;
    background-color: lightgray;
    padding: 15px;
}

h1 {
    text-align: center;
    color: #514e90;
    font-size: 50px;
}
h2 {
    font-size: 32px;
    color: #514e90;
}
p {
    font-size: 18px;
}
img {
    width: auto;
    height: 250px;
    box-shadow: 0 0 20px black;
}