* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

select,
input {
  padding: 10px;
  margin-bottom: 15px;
}

input:focus {
  box-shadow: 0 0 10px #bbb;
}

.radSpace {
  width: auto;
}

form {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.radioAllign label {
  text-align: left !important;
}
.radioAllign {
  text-align: left !important;
  padding-left: 35%;
}

input[type="radio"] {
  border: 0px;
  width: 18px;
  height: 18px;
}

body {
  margin: auto;
  text-align: center;
  background-color: rgb(200, 238, 200);
}

header {
  background-color: #99ddff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  
}
header img {
  display: block;
  width: 50px;
  padding-right: 20px;
  
}
header h1 {
  font-size: 35px;
}
.headGrid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
#logo {
  grid-column: 2;
  font-size: 25px;
}
.contactInfo {
  padding-top: 25px;
  padding-left: 5px;
}

nav {
  background: #5cc8ff;
  color: #000;
  display: flex;
  position: relative;
  justify-content: center;
}

footer {
  background-color: #99ddff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: solid;
}

footer img {
  width: 35px;
}
.footGrid {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
}
#map {
  width: 150px;
  box-shadow: 0 0 2px black;
}
.contactInfo {
  padding-top: 25px;
  padding-left: 5px;
}


.contentBox {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e8dab2;
  border-style: dotted;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mainMenu {
  background: #5cc8ff;
  display: none;
  flex-direction: column;
}

.openMenu {
  font-size: 2rem;
  margin: 20px;
  display: block;
  cursor: pointer;
}
.mainMenu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
}
.mainMenu a:hover {
  background: none;
  color: rgb(255, 123, 0);
}

.closeMenu {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.userInfo {
  border-style: solid;
  border-radius: 15px;
  background-color: lightgreen;
  margin-bottom: 15px;
  padding-top: 15px;
}

.stormInfo {
  border-style: solid;
  border-radius: 15px;
  background-color: lightgreen;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

button {
  background-color: darkgray;
  width: 25%;
  height: 35px;
}
