form {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: thin;
    background-color: rgb(236, 201, 148);
    padding: 10px;
    max-width: 350px;
}
form input{
    float: right;
    margin-right: 15px;
}

form h3{
    padding: 5px;
}
.myInfo, .boardInfo {
    margin-top: 10px;
    margin-left: 15px;
}

.formLine{
    padding: 5px;
    margin: 5px;
}
.mapContainer{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#commentButton{
    padding: 3px;
}
#buttonHolder{
    text-align: center;
}

#imbedMap{
    border-style: solid;
    border-width: thin;
    max-width: 100%;
}


@media (min-width: 800px){
.formHolder{
    margin: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.myInfo, .boardInfo {
    margin-left: 50%;
}
.myInfo{
    margin-bottom: 15%;
}

.formInfo{
    grid-row: 1 / span 2;
    grid-column: 2;
}

}